<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        nav {
    background-color: rgb(80, 74, 74);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {    
    list-style: none;    
}

nav li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
}

nav li a:hover {
    color: yellow;
    text-decoration: none;
}
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
</head>
<body>
    {{!-- Navigation links --}}
    <nav>
        <h4>Paradise Database</h4>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>

    {{!-- Body --}}
    <div class="container mt-4">
        <div class="card mx-auto my-5 text-white bg-danger" style="width: 28rem;">            
            <div class="card-header"><h1 class="text-center text-uppercase">Login Form</h1></div>   
            <div class="card-body">
                <form>
                    <div class="mb-3">
                        <label for="email-reg" class="form-label">Email</label>
                        <input type="text" class="form-control" id="email-reg" name="email">                         
                    </div>                    
                    <div class="mb-3">
                        <label for="password-lgn" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password-lgn" name="password">
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>